<a href="https://colab.research.google.com/github/vitorvbtf/Curso-de-python-do-curso-em-video/blob/main/Aula_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
calculo1 = 5 + 3 * 2
calculo2 = 5 ** 2
calculo3 = 5 ** 3
calculo4 = 19 // 2
calculo5 = 19 / 2
calculo6 = 356 ** 224
calculo7 = 18 % 2
calculo8= 81 ** (1/2)
calculo9 = 133 ** (1/3)
print(calculo1)
print(calculo2)
print(calculo3)
print(calculo4)
print(calculo5)
print(calculo6)
print(calculo7)
print(calculo8)
print(calculo9)

11
25
125
9
9.5
33481086732485792929593076870833256003386069640113174227776756808477564404339323572933993122030415665022192136314327347945389901384221451353049490395809863065131520188055102138858718271712330313937174343429818364167368001565480534711623142808363413169983454137018330230316713695269769926173810943501492743324098112348312913945624441000206188121722595747503746152338637522856724904401526452755703718165657935920015377231613904151791954922636427561437927946140429931037548206481775169426749899855812929744566193696636891258070198242863626976414641249490761062819502852407296
0
9.0
5.104468722001463

In [ ]:
ex1 = 'oi' + 'ola'
ex2 = 'oi' * 5
ex3 = '=' * 20

print(ex1)
print(ex2)
print(ex3)

oiola
oioioioioi
====================

In [ ]:
n1 = int(input('Digite um número: '))
n2 = int(input('Digite mais um número: '))
print('A soma vale = {}'.format(n1+n2))

Digite um número: 10

In [ ]:
a = 3.89582625
print('o valor de {:.2f}'.format(a))

o valor de 3.90

In [ ]:
a = 5 
b = 6 
c = 7

print('o valor de {}\n {}\n {}'.format(a,b,c))

o valor de 5
 6
 7

In [ ]:
print('olá mundo, ', end='')
print('Tudo bem? ', end= '')
print('O que você está fazendo? ')

olá mundo, Tudo bem? O que você está fazendo?

Desafio 005

In [ ]:
valor1 = int(input('digite um valor inteiro: '))
antecessor = valor1 - 1
sucessor = valor1 + 1
print('O antecessor de {} é {}, e o sucessor é {}'.format(valor1, antecessor,
sucessor))

digite um valor inteiro: 10
O antecessor de 10 é 9, e o sucessor é 11

Desafio 006

In [ ]:
n1 = int(input('Digite um número: '))
print('O dobro desse número é {}'.format(n1 * 2))
print('O triplo desse número é {}'.format(n1 * 3))
print('A raiz quadrada desse número é {}'.format(n1 ** (1/2)))

Digite um número: 85
O dobro desse número é 170
O triplo desse número é 255
A raiz quadrada desse número é 9.219544457292887

Desafio 007

In [ ]:
nota1 = float(input('Digite a primeira nota do aluno: '))
nota2 = float(input('Digite a segunda nota do aluno: '))

print('A média do aluno é: {}'.format((nota1 + nota2)/2))

Digite a primeira nota do aluno: 5.5
Digite a segunda nota do aluno: 2.0
A média do aluno é: 3.75

Desafio 008

In [ ]:
ex1 = float(input('Digite o valor em metros: '))
centimetros = ex1 * 100
milimetros = ex1 * 1000
print('{} metros equivale a {} centímetros e {} milímetros'.format(ex1,
centimetros, milimetros))

Digite o valor em metros: 3
3.0 metros equivale a 300.0 centímetros e 3000.0 milímetros

Desafio 009

In [ ]:
numero1 = int(input('Digite um número inteiro '))
print('A tabuada de {}\n{} * 1 = {}\n{} * 2 = {}\n{} * 3 = {}\n{} * 4 = {}\n{} * 5 = {}\n{} * 6 = {}\n{} * 7 = {}\n{} * 8 = {}\n{} * 9 = {}\n{} * 10 = {}'.format
(numero1, numero1, numero1 * 1, numero1, numero1 * 2, numero1, numero1 * 3, numero1, numero1 * 4, numero1, numero1 * 5, numero1, numero1 * 6, numero1, numero1 * 7, numero1, numero1 * 8, numero1, numero1 * 9, numero1, numero1 * 10))

Digite um número inteiro 6
A tabuada de 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Desafio 010

In [ ]:
dinheiro = float(input('digite o valor em reais que você possui: '))
print('Você pode comprar {:.2f} dólares'.format(dinheiro / 3.27))

digite o valor em reais que você possui: 19.88
Você pode comprar 6.08 dólares

Desafio 011

In [ ]:
altura = float(input('Digite a altura da sua parede: '))
largura = float (input('Digite a largura da dua parede: '))
tamanho_da_parede = altura * largura
litros_necessarios = tamanho_da_parede / 2
print('É necessario {} litros para pintar uma parede de {}m²'.format(litros_necessarios,
tamanho_da_parede))

Digite a altura da sua parede: 1.75
Digite a largura da dua parede: 2.5
É necessario 2.1875 litros para pintar uma parede de 4.375m²

Desafio 012

In [ ]:
preco = float(input('Digite o preço do produto '))
desconto = preco * 0.05
valor_total = preco - desconto
print('Com 5% de desconto fica {}'.format(valor_total))

Digite o preço do produto 123.95
Com 5% de desconto fica 117.7525

Desafio 013

In [ ]:
salario = float(input('Digite o seu salário: '))
juros = salario * 0.15
novo_salario = salario + juros
print('O seu salário é {}'.format(novo_salario))

Digite o seu salário: 4319.43
O seu salário é 4967.3445

In [4]:
celsius = float(input('qual a temperatura em celsius? '))
calculo = (celsius * 1.8) + 32
print('{}C°, equivale a {} fahrenheit'.format(celsius, calculo))

qual a temperatura em celsius? 31.5
31.5C°, equivale a 88.7 fahrenheit

In [7]:
km_rodado = int(input('quantos kilomêtros foi rodado com esse carro no periodo de aluguel: '))
dias = int(input('quantos dias este carro foi alugado: ')) 

calculo_dos_dias = dias * 60
calculo_dos_km = km_rodado * 0.15
preco_final = calculo_dos_dias + calculo_dos_km
print('o valor deste aluguel é R${}'.format(preco_final))

quantos kilomêtros foi rodado com esse carro no periodo de aluguel: 78
quantos dias este carro foi alugado: 2
o valor deste aluguel é R$131.7