<a href="https://colab.research.google.com/github/vitorvbtf/Curso-de-python-do-curso-em-video/blob/main/Aula_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
calculo1 = 5 + 3 * 2
calculo2 = 5 ** 2
calculo3 = 5 ** 3
calculo4 = 19 // 2
calculo5 = 19 / 2
calculo6 = 356 ** 224
calculo7 = 18 % 2
calculo8= 81 ** (1/2)
calculo9 = 133 ** (1/3)
print(calculo1)
print(calculo2)
print(calculo3)
print(calculo4)
print(calculo5)
print(calculo6)
print(calculo7)
print(calculo8)
print(calculo9)

11
25
125
9
9.5
33481086732485792929593076870833256003386069640113174227776756808477564404339323572933993122030415665022192136314327347945389901384221451353049490395809863065131520188055102138858718271712330313937174343429818364167368001565480534711623142808363413169983454137018330230316713695269769926173810943501492743324098112348312913945624441000206188121722595747503746152338637522856724904401526452755703718165657935920015377231613904151791954922636427561437927946140429931037548206481775169426749899855812929744566193696636891258070198242863626976414641249490761062819502852407296
0
9.0
5.104468722001463

In [15]:
ex1 = 'oi' + 'ola'
ex2 = 'oi' * 5
ex3 = '=' * 20

print(ex1)
print(ex2)
print(ex3)

oiola
oioioioioi
====================

In [19]:
n1 = int(input('Digite um número: '))
n2 = int(input('Digite mais um número: '))1
print('A soma vale = {}'.format(n1+n2))

Digite um número: 10
Digite mais um número: 01
A soma vale = 11

In [22]:
a = 3.89582625
print('o valor de {:.2f}'.format(a))

o valor de 3.90

In [24]:
a = 5 
b = 6 
c = 7

print('o valor de {}\n {}\n {}'.format(a,b,c))

o valor de 5
 6
 7

In [28]:
print('olá mundo, ', end='')
print('Tudo bem? ', end= '')
print('O que você está fazendo? ')

olá mundo, Tudo bem? O que você está fazendo?

Desafio 005

In [29]:
valor1 = int(input('digite um valor inteiro: '))
antecessor = valor1 - 1
sucessor = valor1 + 1
print('O antecessor de {} é {}, e o sucessor é {}'.format(valor1, antecessor,
sucessor))

digite um valor inteiro: 10
O antecessor de 10 é 9, e o sucessor é 11

Desafio 006

In [30]:
n1 = int(input('Digite um número: '))
print('O dobro desse número é {}'.format(n1 ** 2))
print('O triplo desse número é {}'.format(n1 ** 3))
print('A raiz quadrada desse número é {}'.format(n1 ** (1/2)))

Digite um número: 5
O dobro desse número é 25
O triplo desse número é 125
A raiz quadrada desse número é 2.23606797749979

Desafio 007

In [33]:
nota1 = float(input('Digite a primeira nota do aluno: '))
nota2 = float(input('Digite a segunda nota do aluno: '))

print('A média do aluno é: {}'.format((nota1 + nota2)/2))

Digite a primeira nota do aluno: 8
Digite a segunda nota do aluno: 5
A média do aluno é: 6.5

Desafio 008

In [34]:
ex1 = float(input('Digite o valor em metros: '))
centimetros = ex1 * 100
milimetros = ex1 * 1000
print('{} metros equivale a {} centímetros e {} milímetros'.format(ex1,
centimetros, milimetros))

Digite o valor em metros: 5
5.0 metros equivale a 500.0 centímetros e 5000.0 milímetros

Desafio 009

In [40]:
numero1 = int(input('Digite um número inteiro '))
print('A tabuada de {}\n{} * 1 = {}\n{} * 2 = {}\n{} * 3 = {}\n{} * 4 = {}\n{} * 5 = {}\n{} * 6 = {}\n{} * 7 = {}\n{} * 8 = {}\n{} * 9 = {}\n{} * 10 = {}'.format
(numero1, numero1, numero1 * 1, numero1, numero1 * 2, numero1, numero1 * 3, numero1, numero1 * 4, numero1, numero1 * 5, numero1, numero1 * 6, numero1, numero1 * 7, numero1, numero1 * 8, numero1, numero1 * 9, numero1, numero1 * 10))

Digite um número inteiro 6
A tabuada de 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Desafio 010

In [44]:
dinheiro = float(input('digite o valor em reais que você possui: '))
print('Você pode comprar {:.2f} dólares'.format(dinheiro / 3.27))

digite o valor em reais que você possui: 50
Você pode comprar 15.29 dólares

Desafio 011

In [46]:
altura = float(input('Digite a altura da sua parede: '))
largura = float (input('Digite a largura da dua parede: '))
tamanho_da_parede = altura * largura
litros_necessarios = tamanho_da_parede ** 2
print('É necessario {} litros para pintar uma parede de {}m²'.format(litros_necessarios,
tamanho_da_parede))

Digite a altura da sua parede: 20
Digite a largura da dua parede: 20
É necessario 160000.0 litros para pintar uma parede de 400.0m²

Desafio 012

In [50]:
preco = float(input('Digite o preço do produto '))
desconto = preco * 0.05
valor_total = preco - desconto
print('Com 5% de desconto fica {}'.format(valor_total))

Digite o preço do produto 50
Com 5% de desconto fica 47.5

Desafio 013

In [51]:
salario = float(input('Digite o seu salário: '))
juros = salario * 0.15
novo_salario = salario + juros
print('O seu salário é {}'.format(novo_salario))

Digite o seu salário: 70
O seu salário é 80.5